html,
body{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    font-size: 110%;
    text-align: center;
    background-color: rgb(233, 109, 109);
    color: rgb(73, 7, 57)
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    outline-style: groove;
    outline-width: 5px;
    outline-color: rgb(237, 228, 100);
}
.cm-header {
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(229, 233, 17);
    z-index: 2;
}

.cm-main-navbar {
    height: inherit;
}


.cm-main-list {
    margin: 0;
    padding: 0;
    height: inherit;
    list-style-type: none;
}

.cm-navbar-list-item {
    display: inline-block;
    height: inherit;
}

.cm-main-navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 150px;
    max-width: 18vw;
    text-decoration: none;
    font-weight: bold;
    font-size: calc(16px + 1vw);
}

.cm-main-navbar-link:hover {
    background-color: #f00808;
    color: #24021a;
}

.Lexi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;

}

h3 {
    text-decoration: underline;
}

li {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.img1 {
    float: left;
    outline-style: groove;
    outline-color: rgb(237, 228, 100);
}

.img2 {
    float: right;
    outline-style: groove;
    outline-color: rgb(237, 228, 100);
}

.img3 {
    float: left;
    outline-style: groove;
    outline-color: rgb(237, 228, 100);
}

.img4 {
    float: right;
    outline-style: groove;
    outline-color: rgb(237, 228, 100);
}

.img5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    outline-style: groove;
    outline-color: rgb(237, 228, 100);
}

.address {
    margin-left: auto;
    margin-right: auto;
}